<div><%= @user.first_name %> is a member of the following libraries: </div>

<% @user_libraries.each do |library| %>
  <div>
    <h3><%= library.name %></h3>
  </div>
  <br>
<% end %>

<h1>All libraries</h1>
<% @libraries.each do |library| %>
  <div>
    <h3><%= library.name %></h3>
    <!-- <% if @current_user %> -->
    <!-- <% end %> -->
  </div>
  <%= button_to "Join", library_users_path(library) %>
  <br>
<% end %>
