<h1>Welcome to <%= @library.name %> Library</h1>

<div class="">
  <ul>
    <li>Number of floors: <%= @library.floor_count %></li>
    <li>Library Area: <%= @library.floor_area %> sq. ft</li>
  </ul>

</div>
